html {
    background-color: rgb(0, 0, 0);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#title {
    padding-top: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 30PX;
}

#computerArea h3,
img {
    padding-bottom: 20px;
}

.results {
    width: auto;
    text-align: center;
    align-items: center;
}

#CHOICES,
#SCORES,
#computer,
#processor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#CHOICES img {
    height: auto;
    width: 250px;
    border-radius: 20px;
}

#CHOICES>div {
    margin: 3vmin;
}

#SCORES>div {
    margin: 4vmin;
}

#processor img {
    height: auto;
    width: 45VMIN;
    border-radius: 200px;
}

@media screen and (max-width: 1024px) {
    #CHOICES img {
        height: auto;
        width: 200px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 480px) {
    html {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
    }
    #CHOICES img {
        height: auto;
        width: 120px;
        border-radius: 20px;
    }
}