html {
    background-color: rgb(30, 30, 31);
    margin-top: 30px;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#title {
    padding-top: 5px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: underline;
}

#computerArea h3,
img {
    padding-bottom: 20px;
}

.results {
    display: inline-block;
    width: 200px;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border: solid white;
}

#SCORES {
    text-decoration: underline;
}

#CHOICES,
#SCORES,
#computer,
#processor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#button1,
#button2,
#button3 {
    padding: 2vmin;
    background-size: contain;
    background-position: relative;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    position: relative;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 300px;
    line-height: 150px;
}

#button1 p,
#button2 p,
#button3 p {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

#button1 {
    padding: 8Vmin;
    background: url(/IMAGES/ROCK1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#button2 {
    padding: 8vmin;
    background: url(/IMAGES/PAPER.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#button3 {
    padding: 8vmin;
    background: url(/IMAGES/SCISSORS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


button:hover {
    color: rgb(255, 0, 200);
    filter: invert(1);
}

#computerFace {
    font-size: 1.5rem;
    color: rgb(0, 255, 76);
}

#CHOICES>div {
    margin: 3vmin;
}

#SCORES>div {
    margin: 4vmin;
}

#processor img {
    height: auto;
    width: 45vmin;
    border-radius: 200px;
}

@media screen and (max-width: 1024px) {
    #button1,
    #button2,
    #button3 {
        line-height: 0;
        color: white;
        border: solid white 2px;
        padding: 2vmin;
    button {
        border: none;
    }
}

@media screen and (max-width: 768px) {
    #button1,
    #button2,
    #button3 {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }

    #button1 p,
    #button2 p,
    #button3 p {
        font-size: 1rem;
        top: 100px;
    }

    #processor img {
        width: 30vmin;
    }
}

@media screen and (max-width: 375px) {
    #button1,
    #button2,
    #button3 {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    #button1 p,
    #button2 p,
    #button3 p {
        font-size: 0.8rem;
        top: 70px;
    }

    #processor img {
        width: 20vmin;
    }
}
